## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd # импортируйте библиотеку pandas

In [2]:
try:
    data = pd.read_csv('/datasets/data_refactor.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20) # ваш код здесь

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isnull().sum() # ваш код здесь

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for income_type in data['income_type'].unique():
    data.loc[data['income_type'] == income_type, 'total_income'] = data.loc[data['income_type'] == income_type, 'total_income'].fillna(data.loc[data['income_type'] == income_type, 'total_income'].median())

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs() 
# ваш код здесь

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique() # ваш код здесь

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()# ваш код здесь

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [12]:
for income_type in data['income_type'].unique():
    data.loc[data['income_type'] == income_type, 'days_employed'] = data.loc[data['income_type'] == income_type, 'days_employed'].fillna(data.loc[data['income_type'] == income_type, 'days_employed'].median())

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isnull().sum()# ваш код здесь

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int) # ваш код здесь

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower() # ваш код здесь

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum() # посчитайте дубликаты

71

In [17]:
data.drop_duplicates() # удалите дубликаты

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
# создайте функцию categorize_income()
def categorize_income(income):
    if income <= 30000:
        return('E')
    elif 30001 <= income <= 50000:
        return('D')
    elif 50001 <= income <= 200000:
        return('C')
    elif 200001 <= income <= 1000000:
        return('B')
    elif income >= 1000001:
        return('A')

In [19]:
# примените функцию методом apply()
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
# ваш код здесь
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
# создайте функцию categorize_purpose()
def categorize_purpose(string):
    if 'авто' in string:
        return('операции с автомобилем')
    elif 'недвиж' in string:
        return('операции с недвижимостью')
    elif 'свадьб' in string:
        return('проведение свадьбы')
    elif 'образ' in string:
        return('получение образования')
    elif 'жиль' in string:
        return('операции с недвижимостью')

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

Для выявления возможных закономерностей между колличеством детей и возвратом кредита в срок стоит вычислить у какого процента клиентов были задолжности по возврату кредитов внутри каждой группы. Наличие долгов по кредитам отражены в столбце 'debt'.

##### Еще раз выведем Data Frame для наглядности

In [23]:
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

#### Напишем функцию debtor_percentage вычисляющую процент должников от общего колличества клиентов в группах

In [24]:
def debtor_percentage(debtor, total):
    quotient = debtor / total
    percentage = quotient * 100
    return("{:.2f}%".format(percentage))

##### Выведем общее число клиентов сгрупированное по колличеству детей в семьях

In [25]:
data.groupby('children')['debt'].agg('count')

children
0    14149
1     4818
2     2055
3      330
4       41
5        9
Name: debt, dtype: int64

##### Выведем число клиентов с задолжностями по кредитам в каждой группы.

In [26]:
data.groupby('children')['debt'].agg('sum')

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

##### Вычислим какой процент составляют должники от общего колличества клиентов внутри группы.

In [27]:
debtor_percentage(1063, 14091) # процент должнииков без детей

'7.54%'

In [28]:
debtor_percentage(444, 4808) # процент должнииков с одним ребенком

'9.23%'

In [29]:
debtor_percentage(194, 2052) # процент должнииков с двумя детьми

'9.45%'

In [30]:
debtor_percentage(27, 330) # процент должнииков с тремя детьми

'8.18%'

In [31]:
debtor_percentage(4, 41) # процент должнииков с четырьмя детьми

'9.76%'

In [32]:
debtor_percentage(0, 9) # процент должнииков с пятью детьми

'0.00%'

##### Внесем полученную информацию в Data Frame

In [33]:
info = pd.DataFrame(data=[['Нет детей', 14091, 1063, '7.54%' ], ['Один ребенок', 4808, 444, '9.23%'], ['Двое Детей', 2052, 194, '9.45%'], ['Трое Детей', 330, 27, '8.18%'], ['Четверо Детей', 41, 4, '9.76%'], ['Пятеро Детей', 9, 0, '0.00%']], columns=['metric', 'total', 'debtor', 'debtor_percentage'])
info.sort_values(by='debtor_percentage', ascending=False)

          metric  total  debtor debtor_percentage
4  Четверо Детей     41       4             9.76%
2     Двое Детей   2052     194             9.45%
1   Один ребенок   4808     444             9.23%
3     Трое Детей    330      27             8.18%
0      Нет детей  14091    1063             7.54%
5   Пятеро Детей      9       0             0.00%

**Вывод:** 

Из полученных данных видно, что у клиентов в семьях, которых есть дети чаще возникают трудности с возвратом кредитов, чем у клиентов без детей . Клиенты в семьях которых четверо детей имеют наибольший процент должников, а клиенты без детей - наименьший.  В семьях с пятью детьми процент должников равен 0, но в базе их всего 9, что на порядок ниже других категорий, возможно, эта выборка нерепрезентативна или семьи с пятью детьми реже берут кредиты.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Для выявления закономерности предлагаю действовать аналогично предыдущему случаю.

##### Выведем колличество клиентов сгрупированное по типу семейного положения и его идентификатору

In [34]:
data.groupby('family_status')['debt'].agg('count')

family_status
Не женат / не замужем     2799
в разводе                 1189
вдовец / вдова             952
гражданский брак          4160
женат / замужем          12302
Name: debt, dtype: int64

In [35]:
data.groupby('family_status_id')['debt'].agg('count')

family_status_id
0    12302
1     4160
2      952
3     1189
4     2799
Name: debt, dtype: int64

Так как колличество статусов и колличество записей в них в обоих случаях совподает будем считать, что в данном случае оба столбца соотносятся 1:1

##### Выведем число клиентов с задолжностями по кредитам в каждой группы.

In [36]:
debtor_percentage(273, 2796) # 'Не женат / не замужем'

'9.76%'

In [37]:
debtor_percentage(84, 1189) # в разводе

'7.06%'

In [38]:
debtor_percentage(63, 951) # вдовец / вдова

'6.62%'

In [39]:
debtor_percentage(385, 4134) # гражданский брак

'9.31%'

In [40]:
debtor_percentage(927, 12261) # женат / замужем

'7.56%'

##### Внесем полученную информацию в Data Frame

In [41]:
info = pd.DataFrame(data=[['Не женат / не замужем', 2796, 273, '9.76%' ], ['в разводе', 1189, 84, '7.06%'], ['вдовец / вдова', 951, 63, '6.62%'], ['гражданский брак', 4134, 385, '9.31%'], ['женат / замужем' , 12261, 927, '7.56%']], columns=['metric', 'total', 'debtor', 'debtor_percentage'])
info.sort_values(by='debtor_percentage', ascending=False)

                  metric  total  debtor debtor_percentage
0  Не женат / не замужем   2796     273             9.76%
3       гражданский брак   4134     385             9.31%
4        женат / замужем  12261     927             7.56%
1              в разводе   1189      84             7.06%
2         вдовец / вдова    951      63             6.62%

**Вывод:** 

Из полученных данных следует, что наибольший процент должников имеют клиенты не состоящие в браке, а наименьший вдовы или вдовцы. Однако, я не считаю возможным выявить закономерность, основываясь только на этой метрике.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

##### Выведем общее число клиентов сгрупированное по столбцу total_income_category

In [42]:
data.groupby('total_income_category')['debt'].agg('count')

total_income_category
A       25
B     5014
C    15992
D      349
E       22
Name: debt, dtype: int64

##### Выведем число клиентов с задолжностями по кредитам в каждой группы.

In [43]:
data.groupby('total_income_category')['debt'].agg('sum')

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

##### Вычислим какой процент составляют должники от общего колличества клиентов внутри группы.

In [44]:
debtor_percentage(2, 25) # A

'8.00%'

In [45]:
debtor_percentage(354, 5014) # B

'7.06%'

In [46]:
debtor_percentage(1353, 15921) # C

'8.50%'

In [47]:
debtor_percentage(21, 349) # D

'6.02%'

In [48]:
debtor_percentage(2, 22) # E

'9.09%'

##### Внесем полученную информацию в Data Frame

In [49]:
info = pd.DataFrame(data=[['A',25, 2, '8.00%' ], ['B', 5014, 354,'7.06%'], ['C', 15921, 1353, '8.50%'], ['D', 349, 21, '6.02%'], ['E' , 22, 2, '9.09%']], columns=['metric', 'total', 'debtor', 'debtor_percentage'])
info.sort_values(by='debtor_percentage', ascending=False)

  metric  total  debtor debtor_percentage
4      E     22       2             9.09%
2      C  15921    1353             8.50%
0      A     25       2             8.00%
1      B   5014     354             7.06%
3      D    349      21             6.02%

##### К вопросу о несбалансированных данных

Интуитивно заметно, что категории дохода распределены неравномерно Так в категориях E и A представленно меньше 50 клиентов,что позволяет признать эти категории нерепрезентативными. Предлагаю удалить их из таблицы:

In [50]:
info = pd.DataFrame(data=[['B', 5014, 354,'7.06%'], ['C', 15921, 1353, '8.50%'], ['D', 349, 21, '6.02%']], columns=['metric', 'total', 'debtor', 'debtor_percentage'])
info.sort_values(by='debtor_percentage', ascending=False)

  metric  total  debtor debtor_percentage
1      C  15921    1353             8.50%
0      B   5014     354             7.06%
2      D    349      21             6.02%

Из представленных данных можно сделать вывод,что клиенты имеющие доход категории D являются наиболее стабильными. Однако, невооруженным взглядом заметно, что колличество клиентов в категории "D" на порядок ниже в других категорий. Более того, в категории C находится очевидное больштнство клиентов. Возникает необходимость проверки не является ли категория D классом меньшинства.

##### О классификации

Из сторонних источников (https://developers.google.com/machine-learning/data-prep/construct/sampling-splitting/imbalanced-data) Предлагаю принять следующую классификацию

In [51]:
info = pd.DataFrame(data=[['Легкий','20-40% данных'], ['Умеренный','1-20% данных'], ['Критический', '<1% данных']], columns=['Degree of imbalance', 'Proportion of Minority Class'])
info

  Degree of imbalance Proportion of Minority Class
0              Легкий                20-40% данных
1           Умеренный                 1-20% данных
2         Критический                   <1% данных

##### Проведем необходимые подсчеты

In [52]:
data.info() # 21331 записей всего, 349 в категории D

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21402 entries, 0 to 21524
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21402 non-null  int64
 1   days_employed          21402 non-null  float64
 2   dob_years              21402 non-null  int64
 3   education              21402 non-null  object
 4   education_id           21402 non-null  int64
 5   family_status          21402 non-null  object
 6   family_status_id       21402 non-null  int64
 7   gender                 21402 non-null  object
 8   income_type            21402 non-null  object
 9   debt                   21402 non-null  int64
 10  total_income           21402 non-null  int64
 11  purpose                21402 non-null  object
 12  total_income_category  21402 non-null  object
 13  purpose_category       21402 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 2.4+ MB

In [53]:
debtor_percentage(349, 21331)

'1.64%'

Значение на нижней границе "Умеренного" дисбаланса. Выборку можно свободно признать несбалансированной

**Вывод:** 

Из имеющихся данных сложно выявить прямую закономерность между уровнем дохода и задолжностью по кредиту. Возможно, стоит получить больше данных в этих категориях.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

##### Сгрупируем клиентов по цели взятия кредита

In [54]:
data.groupby('purpose_category')['debt'].agg('count')

purpose_category
операции с автомобилем       4288
операции с недвижимостью    10780
получение образования        3997
проведение свадьбы           2337
Name: debt, dtype: int64

##### Выведем число клиентов с задолжностями по кредитам в каждой группы.

In [55]:
data.groupby('purpose_category')['debt'].agg('sum')

purpose_category
операции с автомобилем      400
операции с недвижимостью    780
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

##### Вычислим какой процент составляют должники от общего колличества клиентов внутри группы.

In [56]:
debtor_percentage(400, 4279)

'9.35%'

In [57]:
debtor_percentage(780, 10751)

'7.26%'

In [58]:
debtor_percentage(369, 3988)

'9.25%'

In [59]:
debtor_percentage(183, 2313)

'7.91%'

##### Внесем полученную информацию в Data Frame

In [60]:
info = pd.DataFrame(data=[['операции с автомобилем',4279, 400, '9.35%'], ['операции с недвижимостью', 10751,780,'7.26%'], ['получение образования', 3988, 369, '9.25%'], ['проведение свадьбы ', 2313, 183, '7.91%']], columns=['metric', 'total', 'debtor', 'debtor_percentage'])
info.sort_values(by='debtor_percentage', ascending=False)

                     metric  total  debtor debtor_percentage
0    операции с автомобилем   4279     400             9.35%
2     получение образования   3988     369             9.25%
3       проведение свадьбы    2313     183             7.91%
1  операции с недвижимостью  10751     780             7.26%

**Вывод:** 

Из полученных данных видно, что больше всего должников в категориях "операции с автомобилем" и "получение образования, а меньше на операции с недвижимостью.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:*  В данном случае причиной пропусков можно считать человечиский фактор. Я считаю, что возможны, как ощибки заполнения так и намеренное незаполнение информации. Например, в случае с пропусками в total_income причиной скорее всего является ошибка (Данные о доходах клиента крайне важны для банка и скорее всего были получены. В то время, как days_employed могут быть и просто незаполненны клиентом в зависимости от формы анкеты.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*  Заполнение колличественных переменных медианой вместо среднего позволяет записать более усредненное значение и избежать искажения данных в случае налтчия необычно высоких значений.

### Шаг 4: общий вывод.

В ходе работы над проектом данные были переработанны и преведены в порядок. В частности было принято решение заполнить пропуски в значениях дохода клиентов и дней работы медианными значениями этих параметров. Так же данные были категоризированны по уровню дохода и целям на которые был взят кредит.

**Общие тенденции:**

1. Количество детей в семьях клиентов влияет на вероятность возникновения трудностей с возвратом кредита С наибольшим количеством должников в семьях с четырьмя детьми, а наименьшее в семьях без детей. При том, что было принято решение не учитывать категорию семей с пятью детьми из-за небольшого количества таких клиентов.

2. Семейное положение клиентов так же влияет на вероятность успешеого возврата кредита. С самым высоким процентом должников в категории клиентов не состоящих в браке. А самым низким у вдов и вдовцов. 

3. Прямых соотношений между уровнем дохода и вероятностью возврата кредитов выявит не удалось из-за общей нерепрезентативности выборки.

4. В случае с целями на кредит наиболее высокий процент должников содержится в категориях "операции с автомобилем" и "получение образования" Возможно, такой высокий процент вызван относительной молодостью клиентов в этих категориях. 

**Рекомендации:**

1. Из-за почти прямой зависимости между количеством детей и вероятностью проблем с возвратом кредита рекомендую учитывать этот параметр при вынесении решения о выдаче кредита.

2. Возможно имеет смысл учитывать статус клиента в этом вопросе. Я считаю,что есть высокая необходимость дальнейшего изучения этих категорий Возможно в комбинации с другими данными (Например: возраст клиента или уже имеющееся у нас количество детей.) Заманчивой может показаться идея привязки идей на подобии стабильности к параметру семейного положения, но на мой вгляд к примеру стоит обратить внимание на возможность того,что некоторые вдовы и вдовцы вполне могли указать свое семейное положение, как "не женат(а)".

3. Рекомендую получить больше данных по этим параметрам. Возможно, впрочем, что средняя категория доходов всегда будет преобладать. Однако имеет смысл попытаться вычислить хотя бы нижнюю безопасную границу доходов по выдаче кредитов.

4. Цели получения кредитов очевидно влияют на возможность их возврата. Рекомендую учитывать этот параметр